#picture{
	max-width: 250px;
	max-height: 250px;
	position: relative;
	left: 25%;
	padding-top: 15%;
}

#about-text{
	position: relative;
    float: right;
    top: 20%;
    width: 45%;
    margin-right: 5%;
    font-family: AvenirNext-Regular;
}